<!DOCTYPE html>
<html>
<head>
    <title>Relatório de respostas do candidato.</title>
</head>

<body>
<h2>Concurso Título de Especialista em Anestesiologia</h2>
<br/>

<p>
Prezado dr(a). {{ $candidato->getCandidato()->nome }},<br> você foi candidato no Concurso do Título de Especialista em Anestesiologia.<br>
E de acordo com o edital sua prova respondida pode ser obtida acessando o link <a href="http://www.provassba.com.br/prova/candidato/{{ $candidato->getCandidato()->id }}/relatorio">Prova Respondida</a>.</p>
<p>Caso seu provedor/cliente de email bloqueie o link copie e cole esta url em seu navegador.<br>
http://www.provassba.com.br/prova/candidato/{{ $candidato->getCandidato()->id }}/relatorio</p>
<p>Para acesso ao relatório será necessário a utilização de seu CPF e senha enviada por e-mail.</p>
<p>Atenciosamente,<br><br>Comissão de Ensino e Treinamento<br>Sociedade Brasileira de Anestesiologia</p>

</body>

</html>