/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/06/2018, 11:05:37
    Author     : Thiago Carvalho
*/
@media (min-width: 768px){
    .direita {
        text-align: right;
    }
    .total-respondidas,
    .total-nao-respondidas,
    .total-parcialmente-respondidas {

        color: #000;
        font-weight: bold;
        margin-bottom: 2em;
    }
    
    .total {
        margin-left: 2em;
    }
    
    #login {
        margin: 10em 0px;
    }
    
    #prova-so{
        display: none;
    }
}

@media(max-width: 1200px ){
    .indice,
    .resposta {
        display: none !important;
    }
}

@media (max-width: 767px){
    
    .indice,
    .resposta {
        display: none !important;
    }
    
    .opcao {
        margin-top: .5em !important;
    }
    
    .rodape {
        font-size: .9em;
        text-align: center !important;
    }
    
    .total-respondidas,
    .total-nao-respondidas,
    .total-parcialmente-respondidas {

        font-weight: bold;
        margin-bottom: 1em;
    }
    
    .total-respondidas {
        color: #5cb85c;
    }
    
    .total-nao-respondidas {
        color: #d9534f;
    }
    
    .total-parcialmente-respondidas {

        color: #8a6d3b;
    }
    
    .total {
        float: right;
    }
    
    .rodape {
        position: relative;
        line-height: 2em;
    }
    
    #opcoes li div{
        text-align: justify;
        line-height: 2em;
    }
    
    #login {
        margin: 4em 0px;
    }
    
    #prova-so {
        display: block;
    }
    
    #prova-logo {
        display: none;
    }
}

.rodape {
    
    position:absolute;
    margin-top: 3em;
    padding: 2em 0 3.5em 0;
    background: #f8f8f8;
    border: solid 1px #e7e7e7;
    font-weight: bold;
    width: 100%;
}

#botoes .btn-block{
        
    margin: .5em 0;
    padding: 1em 0;
}


#botoes {
    margin-bottom: 3em;
}

.prova {
    background: #ccffcc;
}

.conteudo {
    /*background: #cce1d9;
    padding: 0 2em;*/
}

.conteudo p,
.conteudo ul {
    color: #000;
}

.conteudo ul {
    padding-left: .5em; 
}

.conteudo p {
    
    padding: 0 0 1em 0;
    font-size: 1.4em;
    line-height: 2em;

}

.conteudo ul {
    list-style: none;
}

.conteudo ul li select {
    margin-top: -5px;
}

.conteudo ul li {
    padding: 1em 0;
    border-bottom: #dadada solid 1px;
}

.divider {
    margin: 2.5em 0;
}